<div class="d-flex justify-content-center mt-4">
    <mat-form-field class="example-full-width">
        <mat-label>What to Search ?</mat-label>
        <input matInput placeholder="Ex. Pizza" [(ngModel)]="filteredCard">
    </mat-form-field>
</div>
<div class="nav">
    <button class="btn btn-primary" [routerLink]="['/add-user']">ADD USER</button>
</div>
<div class="d-flex justify-content-around cards mx-auto flex-wrap">
    <app-users
        *ngFor="let listUser of listUsers | customPipe:filteredCard; let i = index"
        [userList]="listUser"
    ></app-users>
</div>

