<div class="d-flex flex-row">
    <div class="container">
      <h3 class="text-center my-5">JAPANESE CUISINE</h3>
      <div class="d-flex flex-row justify-content-evenly flex-wrap">
        <app-card
          *ngFor="let cardElement of cardElements; let indexOfElement = index"
          [card]="cardElement"
          [indexOfElement]="indexOfElement"
          class="mx-5"
        >
        </app-card>
      </div>
    </div>
    <div class="container">
      <h3 class="text-center my-5">CART LIST</h3>
      <div class="d-flex flex-row justify-content-evenly flex-wrap">
        <app-cart
          *ngFor="let cartElement of cartElements; let indexOfCart = index"
          [cart]="cartElement"
          class="mx-5"
        >
        </app-cart>
      </div>
    </div>
  </div>