<mat-card class="mb-5 card-width">
  <img
    mat-card-image
    src="{{ element.img }}"
    class="card-img-top"
    alt="{{ element.name }}"
  />
  <mat-card-content>
    <h1>{{ element.name }}</h1>
    <p>Price : {{ element.price }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      (click)="
        onCartAdded(element.name, element.price, element.detail, element.img)
      "
    >
      Add to Favorite
    </button>
    <button
      mat-button
      (click)="showDetail(indexOfElement)"
      [routerLink]="['/main-menu/card',element.name]"
    >
      Detail
    </button>
    <p class="mt-3" *ngIf="buttonDetail[indexOfElement]">
      {{ element.detail }}
    </p>
  </mat-card-actions>
</mat-card>
