<mat-card class="mb-5 card-width">
  <img
    mat-card-image
    src="{{ element.img }}"
    class="card-img-top"
    alt="{{ element.name }}"
  />
  <mat-card-content>
    <h1>{{ element.name }}</h1>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      (click)="
        onCartAdded(element.name, element.price, element.detail, element.img)
      "
    >
      Add to Cart
    </button>
    <button
      mat-button
      [routerLink]="['/main-menu/card',element.name]"
    >
      Detail
    </button>
  </mat-card-actions>
</mat-card>
